/*------------------------------------*\
    $Grid
\*------------------------------------*/
.row, %row {
  @include clearfix;
  margin-left: -$spacingWidth;
  position: relative;
}

%g {
  float: left;
  padding-left: $spacingWidth;
  margin-bottom: $spacingWidth;
  vertical-align: top;
}

.inner, %inner {
  position: relative;
  @include clearfix;
  width: 100%;
  max-width: $containerWidth;
  margin: 0 auto;
}

.full, %full {
  @extend %g;
  width: 100%;
}

.half, %half {
  @extend %g;
  width: 50%;

  @include breakpoint(small) {
    width: 100%;
  }

}

.two-thirds, %two-thirds {
  @extend %g;
  width: 66.666%;

  @include breakpoint(small) {
    width: 100%;
  }

}

.third, %third {
  @extend %g;
  width: 33.333%;

  @include breakpoint(small) {
    width: 100%;
  }

}

.quarter, %quarter {
  @extend %g;
  width: 25%;

  @include breakpoint(small) {
    width: 100%;
  }
  
}




