/*------------------------------------*\
    $Helpers
\*------------------------------------*/
.left, %left {
  float: left;
}

.right, %right {
  float: right;
}

.text--left, %text-left {
  text-align: left;
}

.text--right, %text-right {
  text-align: right;
}

.text--center, %text-center {
  text-align: center;
}

.hide {
  display: none;
}

.show {
  display: inherit !important;
}




